body {
  margin: 0;
  padding: 0;

  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  position: relative;

  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

.button {
  font-family: inherit;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  padding: 0;
  box-sizing: border-box;

  background-color: #81b3d2;
  border: none;
  cursor: pointer
}

.main-header {
  font-family: inherit;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  width: 1200px;
  height: 564px;
  margin-left: auto;
  margin-right: auto;

  background-color: #ffffff;
  background-image: url("../img/main-page-photo.jpg");
  background-position: bottom center;
  background-repeat: no-repeat;
}

.inner-header {
  font-family: inherit;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  width: 1200px;
  height: 273px;
  margin-left: auto;
  margin-right: auto;
  position: relative;

  background-color: #ffffff;
  background-image: url("../img/search-background.jpg");
  background-position: bottom center;
  background-repeat: no-repeat;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:focus {
  color: #cacaca;
}

.present-page {
  color: #766357;
}

.intro {
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: #000000;

  background-color: #ffffff;
}

.features-list {
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #333333;

  background-color: #ffffff;
}

.reasons-list,
.reasons-list span {
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  color: #333333;

  background-color: #eeeeee;
}

.reason-1,
.reason-2,
.reason-1 span,
.reason-2 span {
  color: #ffffff;

  background-color: #81b3d2;
}

.offer {
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #333333;

  background-color: #ffffff;
  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
  background-position: bottom center;
}

.offer-headline {
  font-size: 30px;
  line-height: 36px;
}

.input,
.input {
  font-family: inherit;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
  background-color: #f2f2f2;
  border: none;
}

.hotel-search-form input[type="date"]:hover,
.hotel-search-form input[type="number"]:hover {
  background-color: #ebebeb;
}

.hotel-search-form input[type="date"]:focus,
.hotel-search-form input[type="number"]:focus {
  background-color: #ffffff;
  outline: 2px solid #e5e5e5;
}

.find-btn {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  vertical-align: middle;
}

.find-btn:hover {
   background-color: #669ec0;
}

.find-btn:focus {
  color: #94b9d2;
  background-color: #5496bd;
}

.search-header {
  font-family: inherit;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #ffffff;
  background-color: #766357;
  text-align: center;
}

.search-legend-wrapper:hover {
  background-color: #604e43;
}

.search-header:focus {
 color: #928a85;
}

.hotel-search-form fieldset {
  background-color: #ffffff;
}

.social-buttons a {
  background-color: #81b3d2;
}

.social-buttons a:hover {
   background-color: #669ec0;
}

.social-buttons a:focus {
  color: #88b6d1;
  background-color: #5496bd;
}

.footer {
  background-color: #ffffff;
  margin: auto;
}

.footer-hashtag {
  font-family: inherit;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
}

.footer-copyright {
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  color: #333333;
}

.search-tools {
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #ffffff;
  background-color: transparent;
}

.search-tools legend {
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  }

.search-tools fieldset,
.hotel-search-form fieldset {
  border: none;
}

.search-button,
.inner-page input[type="number"] {
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
  color: #ffffff;

  background: transparent;
  background-color: transparent;
  }

.search-button {
  width: 137px;
  height: 36px;
  text-align: center;
  border: 2px solid #ffffff;
  border-radius: 3px;
  cursor: pointer;
  /*margin-top: 25px;*/
  margin-left: 85px;
}

.search-button-wrapper {
  margin-top: 25px;
  margin-left: 85px;

  box-sizing: border-box;
  }

.price-range-box {
  height: 36px;
  margin-top: -10px;
  border: 2px solid #ffffff;
  border-radius: 3px;
  box-sizing: border-box;
}

.inner-page button:hover {
  color: #000000;
  background-color: #ffffff;
  }

.header-wrapper b {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
}

.header-wrapper span {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #000000;
}

.sort-list a {
  font-family: inherit;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #cacaca;
  border-bottom: 1px #81b3d2 dotted;
}

.sort-list a:hover {
  color: #81b3d2;
}

.sort-list a:focus {
  color: #000000;
}

.sort-list a:active {
  color: #81b3d2;
  border-bottom: none;
}

.results-header {
  font-family: inherit;
  background-color: #fefefe;
}

.footer {
  background-color: #fefefe;
}

.results {
  background-color: #fefefe;
}

.options a {
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
}

.more {
  background-color: #81b3d2;
  border: none;
}

.more:hover {
  background-color: #669ec0;
}

.more-btn:focus {
  color: #94b9d2;
  background-color: #669ec0;
}

.book {
  background-color: #766357;
  border: none;
}

.book:hover {
  background-color: #604e43;
}

.book-btn:focus {
 color: #928a85;
}

.results h2 a {
  color: #000000;
}

.results h2 a:hover {
  color: #81b3d2;
}

.results h2 a:focus {
  color: #cacaca;
}

.results section {
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
}

.rating-span {
  width: 110px;
  height: 27px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  padding-top: 3px;
  padding-left: 1px;
  box-sizing: border-box;
  color: #666666;
  background-color: #f2f2f2;
}

.site-navigation,
.reasons-list,
.features-list,
.social-buttons,
.sort-list {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}



/*------------------Сетки----------------*/

/*Хэдер*/

.main-navigation {
  width: 1200px;
  height: 56px;
}

.site-navigation {
  display: flex;
  width: 1200px;
  min-height: 70px;
  margin: auto;
  padding: 0;
  box-sizing: border-box;
  background-color: transparent;
}

.site-navigation li {
  width: 240px;
  text-align: center;
  margin: 0;
  padding-top: 14px;
  box-sizing: border-box;
}

.logo {
  width: 240px;
  height: 70px;
  text-align: center;
}

/*Вступление*/

.intro {
  width: 1200px;
  margin: auto;
  padding-top: 42px;
  padding-bottom: 38px;
}

.intro-text {
  margin: auto;
  width: 492px;
}

.intro p {
  padding-top: 10px;
}

/*Причины посетить*/

.reasons-to-visit-sedona {
  width: 1200px;
  margin: auto;
  box-sizing: border-box;
}

.reasons-list {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.reasons-list li {
  box-sizing: border-box;
  width: 400px;
  height: 256px;
}

.reason h2 {
  width: 151px;
  margin: auto;
  margin-top: 47px;
  margin-bottom: 23px;
}

.reason p {
  margin: auto;
  margin-top: 22px;
}

.reason-1 p {
  width: 290px;
}

.reason-2 p {
  width: 310px;
}

.reason-3 p {
  width: 210px;
}

.reason-4 p {
  width: 265px;
}

.reason-5 p {
  width: 255px;
}

/*Преимущества Седоны*/

.features-list {
  display: flex;
  width: 1200px;
  min-height: 330px;
  padding: 0;
  box-sizing: border-box;
}

.features-list li {
  width: 400px;
  height: 330px;
}

.features-list h2 {
  margin-top: 160px;
}

.features-list p {
  width: 288px;
  margin: auto;
  margin-top: 25px;
}

/*Предложение*/

.offer {
  width: 1200px;
  min-height: 883px;
  margin: auto;
  padding-top: 50px;
  box-sizing: border-box;
  position: relative;
}

.offer p {
  margin-top: 23px;
}

/*Форма поиска*/

.hotel-search-form {
  position: absolute;
  left: 316px;
  bottom: 198px;
}

.search-form-wrapper {
  width: 570px;
  min-height: 480px;
  margin: auto;
  box-sizing: border-box;
  padding: 0;
}

.search-legend-wrapper {
  width: 570px;
  height: 85px;
  text-align: center;
  padding-top: 28px;
  box-sizing: border-box;
  background-color: #766357;
}

.search-legend {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.input-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
  width: 458px;
  min-height: 170px;
  margin: auto;
  margin-top: 58px;
}

.input-wrapper span {
  align-self: baseline;
  padding: 0;
}

.span-date input {
  width: 345px;
  min-height: 35px;
}

.span-number input {
  width: 112px;
  min-height: 35px;
  text-align: center;
}

.dates {
  display: flex;
  width: 457px;
  justify-content: space-between;
}

.numbers {
  display: flex;
  justify-content: space-between;
}

.numbers-1 {
  display: flex;
  justify-content: space-between;
  width: 225px;
}

.numbers-2 {
  display: flex;
  justify-content: space-between;
  width: 178px;
}

/*Кнопка поиска*/

.find {
  width: 458px;
  height: 58px;
  text-align: center;
  box-sizing: border-box;
  padding-top: 15px;
}

.button-wrapper {
  box-sizing: border-box;
  margin-top: 55px;
  margin-left: auto;
  margin-right: auto;
}

/*Подвал*/

.footer {
  width: 1200px;
  min-height: 120px;
}

.footer-wrapper {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
}

.relative-position {
  position: relative;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.main-footer {
  position: absolute;
  bottom: 0;
  opacity: 0.9;
}

.footer-hashtag {
  align-self: center;
  margin-left: 132px;
}

.footer-social {
  align-self: center;
}

.social-buttons {
  width: 150px;
  display: flex;
  padding:0;
}

.footer-copyright {
  align-self: center;
  margin-right: 100px;
}

/*------------------Внутренняя страница----------------*/

/*Фильтры поиска отеля*/

.search-tools {
  width: 1056px;
  min-height: 160px;
  margin: auto;
  position: absolute;
  top: 83px;
  right: 105px;
}

.main-search {
  width: 1056px;
  min-height: 160px;
  display: flex;
}

.fieldset {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.housing {
  margin-left: 118px;
}

.variants {
  min-height: 116px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 4px;
  box-sizing: border-box;
}

.pricing {

  width: 317px;
  height: 160px;
  margin-left: auto;
  padding: 0;
}

.tools-wrap {
  min-height: 157px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.tools-wrap-2 {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 98px;
}
/*Блок "От-до"*/

.number-box-wrap {
  display: flex;
  width: 100%;
  min-height: 20px;
  margin-top: 5px;
}

.number-wrap {
  display: flex;
  width: 158px;
  box-sizing: border-box;
}

.from {
  padding-left: 65px;
}

.to {
  padding-left: 52px;
  padding-right: 9px;
}

.number-range {
  margin-left: 3px;
}

/*Ползунок*/

.pricerange {
  width: 100%;
}

.pricerange-wrap {
  margin-top: -10px;
}

/*Сортировка результатов*/

.results-header {
  width: 1200px;
  height: 87px;
  margin: auto;
}

.header-wrapper {
  width: 1056px;
  min-height: 85px;
  display: flex;
  align-items: baseline;
  margin: auto;
  padding-top: 18px;
  box-sizing: border-box;
}

.sort-list {
  width: 238px;
  display: flex;
  justify-content: space-between;
  padding: 0px;
  margin-left: 40px;
}

.header-wrapper span {
  margin-left: 48px;
}

/*Результаты поиска*/

.results {
  width: 1200px;
  margin: auto;
}

.result-wrapper {
  width: 1200px;
  min-height: 150px;
  border-top: 1px solid #e5e5e5;
}

.result {
  width: 1056px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 26px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  box-sizing: border-box;
}

.more-info {
  width: 258px;
  min-height: 94px;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
}

.more-info h2 {
  margin: 0;
}

.description {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  width: 181px;
}

.rating {
  width: 110px;
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /*Когда вставлю звёздочки, то изменю на
  justify-content: space-between;*/
  margin-left: auto;
}

/*Кнопки*/

.more {
  width: 110px;
  height: 26px;
  padding-top: 2px;
  box-sizing: border-box;
}

.options {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.book {
  width: 142px;
  height: 26px;
  padding-top: 2px;
  box-sizing: border-box;
}

/*Футер*/

.inner-footer {
  border-top: 1px solid #e5e5e5;
  box-sizing: border-box;
}
