body {
  margin: 0;
  padding: 0;

  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  position: relative;

  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

.button {
  font-family: inherit;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  padding: 0;
  box-sizing: border-box;

  background-color: #81b3d2;
  border: none;
  cursor: pointer
}

.header {
  font-family: inherit;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  width: 1200px;
  height: 70px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  background-color: transparent;
}

.sedona {
  width: 1200px;
  height: 508px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -15px;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:focus {
  color: #cacaca;
}

.active {
  color: #766357;
}

.intro {
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: #000000;

  background-color: #ffffff;
}

.features-list {
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #333333;

  background-color: #ffffff;
}

.reasons-list,
.reasons-list span {
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  color: #333333;

  background-color: #eeeeee;
}

.reason-1,
.reason-2,
.reason-1 span,
.reason-2 span {
  color: #ffffff;

  background-color: #81b3d2;
}

.offer {
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #333333;

  background-color: #ffffff;
  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
  background-position: bottom center;
}

.offer-headline {
  font-size: 30px;
  line-height: 36px;
}

.input {
  font-family: inherit;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
  background-color: #f2f2f2;
  border: none;
}

.hotel-search-form input[type="date"]:hover,
.hotel-search-form input[type="number"]:hover {
  background-color: #ebebeb;
}

.hotel-search-form input[type="date"]:focus,
.hotel-search-form input[type="number"]:focus {
  background-color: #ffffff;
  outline: 2px solid #e5e5e5;
}

.find-btn {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  width: 458px;
  height: 58px;
  display: block;
  text-align: center;
  margin: auto;
}

.find-btn:hover {
   background-color: #669ec0;
}

.find-btn:focus {
  color: #94b9d2;
  background-color: #5496bd;
}

.search-header {
  font-family: inherit;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  display: block;
  width: 570px;
  height: 85px;
  text-align: center;
  color: #ffffff;
  background-color: #766357;
}

.search-header:hover {
  background-color: #604e43;
}

.search-header:focus {
 color: #928a85;
}

.hotel-search-form fieldset {
  background-color: #ffffff;
}

.footer {
  background-color: #ffffff;
  margin: auto;
}

.footer-hashtag {
  font-family: inherit;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
}

.footer-copyright {
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  color: #333333;
}

.search-tools {
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #ffffff;
  background-color: transparent;
}

.search-tools legend {
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  }

.search-tools fieldset,
.hotel-search-form fieldset {
  border: none;
}

.search-button,
.inner-page input[type="number"] {
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
  color: #ffffff;

  background: transparent;
  background-color: transparent;
  }

.search-button {
  width: 137px;
  height: 36px;
  text-align: center;
  border: 2px solid #ffffff;
  border-radius: 3px;
  cursor: pointer;
  margin-left: 85px;
  box-sizing: border-box;
}

.price-range-box {
  height: 36px;
  margin-top: -20px;
  border: 2px solid #ffffff;
  border-radius: 3px;
  display: flex;
  align-items: baseline;
  box-sizing: border-box;
}

.inner-page button:hover {
  color: #000000;
  background-color: #ffffff;
  }

.header-wrapper b {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
}

.header-wrapper span {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #000000;
}

.sort-list a {
  font-family: inherit;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #cacaca;
  border-bottom: 1px #81b3d2 dotted;
}

.sort-list a:hover {
  color: #81b3d2;
}

.sort-list a:focus {
  border: none;
  color: #000000;
}

.results-header {
  font-family: inherit;
  background-color: #fefefe;
}

.footer {
  background-color: #fefefe;
}

.results {
  background-color: #fefefe;
}

.options a {
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
}

.more {
  display: block;
  width: 110px;
  height: 26px;
  padding-top: 2px;
  box-sizing: border-box;
  background-color: #81b3d2;
  border: none;
}

.more:hover {
  background-color: #669ec0;
}

.more:focus {
  color: #94b9d2;
  background-color: #669ec0;
}

.book {
  width: 142px;
  height: 26px;
  padding-top: 2px;
  box-sizing: border-box;
  background-color: #766357;
  border: none;
}

.book:hover {
  background-color: #604e43;
}

.book:focus {
 color: #928a85;
}

.results h2 a {
  color: #000000;
}

.results h2 a:hover {
  color: #81b3d2;
}

.results h2 a:focus {
  color: #cacaca;
}

.results section {
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
}

.rating span {
  display: block;
  width: 110px;
  height: 27px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  padding-top: 4px;
  padding-left: 1px;
  vertical-align: middle;
  box-sizing: border-box;
  color: #666666;
  background-color: #f2f2f2;
}

.rating span::before {
  content: "";

  width: 70px;
  height: 18px;

  position: absolute;
  bottom: 72px;
  right: 0;

  background-image: url("../img/star.svg");
  background-repeat: repeat-x;
  background-position: 0 0;
}

.amara-rating span::before {
  width: 73px;
}

.desert-rating span::before {
  width: 55px;
}

.villas-rating span::before {
  width: 37px;
}


.site-navigation,
.reasons-list,
.features-list,
.social-buttons,
.sort-list {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}



/*------------------Сетки----------------*/

/*Хэдер*/

.main-navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 1200px;
  height: 70px;
  margin: 0;
  background-color: transparent;s
  outline: 1px solid #ff8800;
}

.site-navigation {
  display: flex;
  width: 1200px;
  align-content: flex-start;
  min-height: 56px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: white;
}

.site-navigation li {
  width: 240px;
  text-align: center;
  margin: 0;
  padding-top: 14px;
  box-sizing: border-box;
}

.logo {
  position: absolute;
  top: 0;
  left: 531px;
}

/*Вступление*/

.intro {
  width: 1200px;
  margin: auto;
  padding-top: 42px;
  padding-bottom: 38px;
}

.intro-text {
  margin: auto;
  width: 492px;
}

.intro p {
  padding-top: 10px;
}

/*Причины посетить*/

.reasons-to-visit-sedona {
  width: 1200px;
  margin: auto;
  box-sizing: border-box;
}

.reasons-list {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.reasons-list li {
  box-sizing: border-box;
  width: 400px;
  height: 256px;
}

.reason h2 {
  width: 151px;
  margin: auto;
  margin-top: 47px;
  margin-bottom: 23px;
}

.reason p {
  margin: auto;
  margin-top: 22px;
}

.reason-1 p {
  width: 290px;
}

.reason-2 p {
  width: 310px;
}

.reason-3 p {
  width: 210px;
}

.reason-4 p {
  width: 265px;
}

.reason-5 p {
  width: 255px;
}

/*Преимущества Седоны*/

.features-list {
  display: flex;
  width: 1200px;
  min-height: 330px;
  padding: 0;
  box-sizing: border-box;
}

.features-list li {
  width: 400px;
  height: 330px;
}

.features-list h2 {
  padding-top: 145px;
  position: relative;
}

.features-list h2::before {
  content:"";

  position: absolute;
  left: 163px;
  bottom: 42px;

  width: 80px;
  height: 80px;

  background-repeat: no-repeat;
  background-position: 0 0;
}

.feature-1 h2::before {
  background-image: url("../img/icon-1.svg");
}

.feature-2 h2::before {
  background-image: url("../img/icon-3.svg");
}

.feature-3 h2::before {
  left: 167px;
  bottom: 47px;
  background-image: url("../img/icon-2.svg");
}

.features-list p {
  width: 288px;
  margin: auto;
  margin-top: 23px;
}

/*Предложение*/

.offer {
  width: 1200px;
  min-height: 883px;
  margin: auto;
  padding-top: 50px;
  box-sizing: border-box;
  position: relative;
}

.offer p {
  margin-top: 23px;
}

/*Форма поиска*/

.hotel-search-form {
  position: absolute;
  left: 316px;
  bottom: 198px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.22), 0 10px 30px rgba(0,0,0,0.22);
}

.search-form-wrapper {
  width: 570px;
  min-height: 480px;
  margin: auto;
  box-sizing: border-box;
  padding: 0;
}

.search-header {
  display: block;
  width: 570px;
  height: 85px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 28px;
  box-sizing: border-box;
  background-color: #766357;
}


.input-wrapper {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
  width: 458px;
  height: 172px;
  margin: auto;
  margin-top: 55px;
  margin-bottom: 56px;
  position: relative;
}

.input-wrapper span {
  align-self: baseline;
  padding: 0;
}

.span-date input {
  width: 345px;
  min-height: 38px;
  padding-left: 15px;
  box-sizing: border-box;
}

.span-number input {
  width: 112px;
  min-height: 35px;
  text-align: center;
}

.dates {
  display: flex;
  width: 457px;
  justify-content: space-between;
}


.numbers-1 {
  display: flex;
  justify-content: space-between;
  width: 225px;
}

.numbers-2 {
  display: flex;
  justify-content: space-between;
  width: 178px;
}

/*Подвал*/

.footer {
  width: 1200px;
  min-height: 120px;
}

.footer-wrapper {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  margin-top: 23px;
}

.main-container {
  position: relative;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 5px 40px rgba(0,0,0,0.25), 0 10px 40px rgba(0,0,0,0.22);
}

.main-footer {
  position: absolute;
  bottom: 0;
  opacity: 0.9;
}

.footer-hashtag {
  align-self: center;
  margin-left: 133px;
}

.social-buttons {
  align-self: center;
}

.social-buttons {
  width: 150px;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin-left: 30px;
}

.footer-copyright {
  align-self: center;
  margin-right: 100px;
}

/*------------------Внутренняя страница----------------*/

/*Фильтры поиска отеля*/

.search-tools {
  width: 1200px;
  height: 217px;
  min-height: 160px;
  margin: auto;

  background-color: #81b3d2;
  background-image: url("../img/search-background.jpg");
  background-repeat: no-repeat;
}

.main-search {
  width: 1056px;
  min-height: 160px;
  margin-top: -14px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.fieldset {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  margin-top: 28px;
  box-sizing: border-box;
}

.housing {
  margin-left: 118px;
}

.variants {
  min-height: 110px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 4px;
  box-sizing: border-box;
}

.pricing {

  width: 317px;
  height: 160px;
  margin-left: auto;
  padding: 0;
}

.tools-wrap {
  min-height: 157px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.tools-wrap-2 {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 98px;
}

/*Блок "От-до"*/

.number-wrap {
  display: flex;
  width: 155px;
  margin: auto;
  box-sizing: border-box;
}

.number-wrap:first-child {
  padding-left: 64px;
  border-right: 2px solid white;
}

.number-wrap:last-child {
  padding-left: 52px;
  padding-right: 9px;
}

.pricing .input  {
  width: 45px;
  height: 21px;
  margin-left: 3px;
  box-sizing: border-box;
}

/*Ползунок*/

.pricerange {
  width: 100%;
  margin-top: -10px;
  box-sizing: border-box;
}

/*Сортировка результатов*/

.results-header {
  width: 1200px;
  height: 87px;
  margin: auto;
}

.header-wrapper {
  width: 1056px;
  min-height: 85px;
  display: flex;
  align-items: baseline;
  margin: auto;
  padding-top: 18px;
  box-sizing: border-box;
}

.sort-list {
  width: 238px;
  display: flex;
  justify-content: space-between;
  padding: 0px;
  padding-right: 540px;
  margin-left: 40px;
  position: relative;
}

.cheapest-first::after {
  content: "";

  position: absolute;
  right: 0;
  top: 7px;

  width: 12px;
  height: 12px;

  background-image: url("../img/icon-down-dir.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.cheapest-first:hover::after {
  background-image: url("../img/icon-down-dir-hover.svg");
}

.cheapest-first:focus::after {
  background-image: url("../img/icon-down-dir-focus.svg");
}

.expensive-first::after {
  content: "";
  display: inline;

  position: absolute;
  left: 742px;
  top: 8px;

  width: 12px;
  height: 12px;

  background-image: url("../img/icon-up-dir.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.expensive-first:hover::after {
  background-image: url("../img/icon-up-dir-hover.svg");
}

.expensive-first:focus::after {
  background-image: url("../img/icon-up-dir-focus.svg");
}

.header-wrapper span {
  margin-left: 44px;
}

.header-wrapper b {
  min-width: 120px;
}

/*Результаты поиска*/

.results {
  width: 1200px;
  margin: auto;
}

.result-wrapper {
  width: 1200px;
  min-height: 150px;
  border-top: 1px solid #e5e5e5;
}

.result {
  width: 1056px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 26px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  box-sizing: border-box;
}

.more-info {
  width: 258px;
  min-height: 94px;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
}

.more-info h2 {
  margin: 0;
}

.description {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  width: 181px;
}

.rating {
  width: 110px;
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: auto;
  position: relative;
}

/*Кнопки*/

.options {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

/*Футер*/

.inner-footer {
  border-top: 1px solid #e5e5e5;
  box-sizing: border-box;
}

.social {
  display: block;
  width: 46px;
  height: 46px;
  background-color: #81b3d2;
  background-repeat: no-repeat;
  background-position: center;
}

.tw-icon {
  background-image: url("../img/twitter.svg");
}

.fb-icon {
  background-image: url("../img/fb-icon.svg");
}

.yt-icon {
  background-image: url("../img/youtube.svg");
}

.social:hover {
   background-color: #669ec0;
}

.social:focus {
  background-color: #5496bd;
}

.tw-icon:focus {
  background-image: url("../img/twitter-active.svg");
}

.yt-icon:focus {
  background-image: url("../img/youtube-active.svg");
}

.fb-icon:focus {
  background-image: url("../img/fb-icon-active.svg");
}

.button-copyright {
  display: inline-block;
  vertical-align: middle;

  width: 115px;
  height: 45px;

  margin-left: 5px;
  background-image: url("../img/logo-htmlacademy.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.button-copyright:hover {
  background-image: url("../img/logo-htmlacademy-hover.svg");
}

.button-copyright:focus {
  background-image: url("../img/logo-htmlacademy-focus.svg");
}

/*Чекбоксы*/

.input-check {
  display: inline-block;
  vertical-align: baseline;
  position: relative;
  cursor: pointer;
}
.input-check input {
  width: 30px;
  height: 25px;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
  top: 0;
  cursor: pointer;
  z-index: 10;
  opacity: 0;
}
.input-check label {
  display: block;
  padding-left: 40px;
  position: relative;
  z-index: 1;
}
.input-check label:before {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 30px;
  height: 25px;
  background: url("../img/checkbox-off.svg") no-repeat;
  z-index: 5;
  content: '';
  cursor: pointer;
}
.input-check input:checked + label:before {
  background: url("../img/checkbox-onv.svg") no-repeat;
}

.dates span:first-of-type::before {
  content: "";
  width: 22px;
  height: 22px;
  position: absolute;
  left: 427px;
  cursor: pointer;

  background-image: url("../img/calendar.svg");
}

.dates span:first-of-type:hover::before {
  background-image: url("../img/calendar-hover.svg");
}

.dates span:first-of-type:active::before {
  background-image: url("../img/calendar-focus.svg");
}
